---
import Theme from "../themes/Theme.astro";
---

<Theme>
    <div class="flex flex-col max-w-3xl justify-center items-center gap-y-2">
        <img
            src="img/avatar.png"
            alt="imagenMia"
            class="w-80 h-80 rounded-full"
        />
        <h1 class="text-3xl font-bold capitalize">Diego Julián</h1>
        <h2
            class="bg-gradient-to-r from-blue-400 to-blue-100 text-transparent bg-clip-text"
        >
            Desarollador web
        </h2>
        <p class="text-center p-2">
            Hola, soy Diego Julián Rodríguez, desarrollador web con experiencia
            en frontend y backend. He trabajado con tecnologías como Angular,
            NestJS, Ionic y estoy explorando React, Electron y Astro para crear
            aplicaciones interactivas y funcionales.
        </p>

        <p class="text-center p-2">
            Me enfoco en el diseño de aplicaciones que priorizan la usabilidad.
            He trabajado en proyectos de tiendas en línea y aplicaciones de
            gestión.
        </p>
    </div></Theme
>
