---
import Theme from "../themes/Theme.astro";
---

<Theme>
    <h1 class="text-5xl font-bold capitalize">Sobre mi</h1>
    <p
        class="bg-gradient-to-r from-blue-400 to-blue-100 text-transparent bg-clip-text"
    >
        Conóceme
    </p>

    <p class="p-2 max-w-4xl text-center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil mollitia
        atque necessitatibus omnis vel odit inventore. Ut, asperiores porro
        dolorum optio saepe dolor iure reiciendis quis perferendis sed delectus.
        Ex.
    </p>
    <p class="p-2 max-w-4xl text-center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, et
        pariatur ratione inventore modi nam eligendi quibusdam. Soluta alias
        facere impedit laborum sit, reiciendis aperiam suscipit quo dolorem
        possimus officia.
    </p>
    <p class="p-2 max-w-4xl text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        dolores itaque quos temporibus reprehenderit dignissimos vel
        perspiciatis nemo neque minus deleniti, id ut doloremque, impedit fugiat
        voluptates recusandae facilis placeat!
    </p>
    <button
        class="mt-5 p-4 px-6 border border-blue-400 rounded-full hover:scale-110 "
        >Descargar CV</button
    >
</Theme>
