---
import Theme from "../themes/Theme.astro";
---

<Theme>
    <h1 class="text-5xl font-bold capitalize">Sobre mi</h1>
    <p
        class="bg-gradient-to-r from-blue-400 to-blue-100 text-transparent bg-clip-text"
    >
        Conóceme
    </p>

    <p class="p-6 max-w-4xl text-center">
        Soy un entusiasta de la tecnología que inició su camino con Java, Python
        y Angular. Estas herramientas me permitieron descubrir mi pasión por la
        programación y me llevaron a desarrollar habilidades valiosas en el
        campo. A medida que profundizaba en estos lenguajes, mi interés por la
        tecnología creció y me impulsó a aprender y explorar nuevas soluciones.
        Cada proyecto que emprendo es una oportunidad para crecer y desafiar mis
        límites. La programación no solo es mi trabajo, sino también una pasión
        que me motiva día a día.
    </p>

    <button
        class="mt-5 p-4 px-6 border border-blue-400 rounded-full hover:scale-110"
        >Descargar CV</button
    >
</Theme>
