---

import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Diego Julian</title>
        <ViewTransitions />
    </head>
    <body class="bg-slate-800 h-screen w-screen">
        <header>
            <NavBar />
        </header>

        <main
            class="flex flex-col justify-center items-center text-white h-full"
        >
            <slot />
        </main>
    </body>
</html>
